*{
    background-color: black;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

header{
    color: white;
    display: inline-block;
    background-color: aqua;
    height: 75px;
    width: 100%;
    padding: 20px 0;
}

nav{
    position: absolute;
    display: inline-flex;
    align-content: flex-end;
    width: 90%; 
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

ul{
    width: 4em;
    justify-self: right;
}

main{
    background-color: blueviolet;
    color: white;
    height: 100vh;
    width: 99%;
    padding: 0;
    margin: 5px;
    display: flex;
}

#texto{
    position: relative;
    left: 17%;
    width: 30%;
    height: 3em;
    margin-top: 15%;
    text-align: center;
}

#texto2{
    position: relative;
    left: -15%;
    width: 35%;
    height: 3em;
    margin-top: 20%;
    text-align: center;
}

#texto h1{
    border-radius: 15px;

}

main button{
    color: white;
    background-color: orange;
    height: 6%;
    width: 8%;
    position: relative;
    left: -45%;
    bottom: -46%;
    border-radius: 5rem;
}

main #publicidade{
    background-color: brown;
    position: relative;
    right: 5%;
    height: 40%;
    width: 30%;
    margin-top: 12%;
    border: solid 3px gray;
    border-radius: 5%;
}
