*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(150deg,  #e4650b, #2000f3 );
    background-size: 100vw 100vh;
}

header{
    background: linear-gradient(150deg, #f37831, #2626a7);
    display: inline-flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
}

input{
    height: 5.9vh;
    width: 20vw;
    position: relative;
    left: 8em;
    top: .8em;
    border-radius: 10px;
    padding-left: 15px;
    border: none;
    outline: none;
}
.lupa{
    position: relative;
    top: 1.3em;
    width: 25px;
    left: 8em;
    cursor: pointer;
}
.icons{
    position: relative;
    right: 8em;
    top: 1em;
}
.icons img{
    cursor: pointer;
    width: 4.4vw;
    padding-left: 1.8em;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
main h1{
    margin: 1.2em;
}
.dono-da-conta{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .dono-da-conta img{
    height: 20vh;
    width: 10vw;
    position: relative;
    left: 4em;

}
.dono-da-conta input{
    position: relative;
    left: 0.1em;
}
.dono-da-conta button{
    position: relative;
    top: 1.5em;
    height: 2.5em;
    border-radius: 10px;
    border: none;
    background-color: #423ffc;
    cursor: pointer;
}
.dono-da-conta button:hover{
    background-color: #6563fb;
    font-size: 0.9em;
}
.dono-da-conta button:active{
    background-color: #8d8bfe;
    font-size: 0.9em;
}
.configuracao-da-conta{
    width: 22vw;
    height: 52vh;
    position: relative;
    left: 23em;
    bottom: 28em;
    background-color: rgb(211, 230, 247);
    border-radius: 10px;
    padding-top: 0.5em;
    visibility: visible;
    
}
.acc-1{
    display: flex;
}
.acc-1 p{
    position: relative;
    left: 5em;
}
.acc-1 button {
    width: 2.5em;
    height: 2.5em;
    border-radius: 15px;
    border: none;
    position: relative;
    left: 15em;
}
.acc-2{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5em;
    
}
.acc-2 img{
    height: 15vh;
    width: 8vw;
    object-fit: contain;
}
.acc-2 p{
    position: relative;
    left: 0.8em;
    top: 0.5em;
}
.log-out{
    object-fit: cover;
    height: 5vh;
}
.acc-3  .button-adc-acc{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    
    padding-bottom: 1em;
    padding-right: 1em;
}
.acc-3  .button-adc-acc img{
    position: relative;
    top: 0.8em;
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.acc-3 .button-log-out{
    width: 9em;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   border: none;
   cursor: pointer;
   padding-bottom: 1em;
}
.acc-3 .button-log-out img{
    position: relative;
    top: 0.7em;
    right: 1em;
}
.acc-3{
    display: inline-flex;
    position: relative;
    top: 4em;
    gap: 0.2em;
    left: 0.5em;
}
.config-acc{
    position: relative;
    top: 2.5em;
    left: 4.6em;
    width: 10em;
    height: 2.5em;
    border-radius: 10px;
    border: 1px solid #0000ff;
}
.abrir{
    width: 22vw;;
}
.Close {
    overflow: hidden;
    width: 0;
}




